@import "../../sass/index.scss";

.sauce {
    display: flex;
    justify-content: center;
    padding: 4rem;

    &_wrapper {
        display: flex;
        max-width: 80rem;
        border-radius: .5rem;
        overflow: hidden;
        border: 1px solid rgba(128, 128, 128, 0.2);

        &_img {
            display: flex;
            flex-direction: column;
            width: 50%;

            img {
                height: 90%;
                object-fit: cover;
                object-position: center;
            }

            p {
                flex-grow: 1;
                background-color: $color-dark;
                color: $color-primary;
                padding: 1rem;
                text-align: center;
            }
        }

        &_content {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1rem;

            &_title {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: clamp(2rem, 2.5vw, 3rem);
                    text-align: center;
                }
            }

            &_ingredients {
                text-transform: capitalize;
            }

            &_likes {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    button {
                        display: flex;
                        align-items: center;

                        svg {
                            font-size: clamp(1.8rem, 2vw, 2.5rem);
                        }
                    }

                    p {
                        font-size: clamp(1.8rem, 2vw, 2.5rem);
                    }
                }
            }

            &_update {
                display: flex;
                justify-content: center;
                gap: 2rem;

                button {
                    padding: 1rem 2rem;
                    letter-spacing: .1rem;
                    border-radius: 5px;
                    background-color: #7451eb;
                    color: $color-primary;
                }
            }

            &_user {
                display: flex;
                justify-content: flex-end;
                font-size: clamp(1.4rem, 1.6vw, 1.6rem);

                p {
                    display: flex;

                    span {
                        display: flex;
                        gap: 1rem;
                        font-style: italic;
                    }
                }
            }
        }
    }
}