@import "../../sass/index.scss";

.sauce {
    //direction justify align gap
    @include flex(row, center, null, null);
    padding: 2rem;

    @media screen and (max-width: 790px) {
        padding: 2rem 1rem 0;
    }

    &_wrapper {
        @include flex(row, center, null, null);

        @media screen and (max-width: 790px) {
            flex-direction: column;
            max-width: 450px;
        }

        &_img {
            @include flex(column, null, null, null);
            max-width: 450px;

            p {
                @include flex(row, center, center, null);
                background-color: $color-dark;
                color: $color-primary;
                padding: 1rem;
            }
        }

        &_content {
            width: 50%;
            @include flex(column, center, null, 2rem);
            padding: 2rem;
            background-color: #ffffff41;

            @media screen and (max-width: 790px) {
                width: 100%;
                background-color: unset;
                padding: 2rem 0;
            }

            &_title {
                @include flex(column, null, center, null);

                h2 {
                    font-size: clamp(2rem, 2.5vw, 3rem);
                    text-align: center;
                }
            }

            &_description {
                line-height: 2.5rem;
            }

            &_ingredients {
                text-transform: capitalize;
            }

            &_btn {
                width: fit-content;
                margin: 0 auto;
                padding: 1rem 2rem;
                letter-spacing: .1rem;
                border-radius: 5px;
                background-color: $color-quaternary;
                color: $color-primary;
                font-family: "Fjord One", serif;
            }
        }
    }

    &_error {
        font-size: clamp(2rem, 2vw, 3rem);
        color: $color-secondary;
    }

    p {
        font-size: clamp(1.8rem, 1.8vw, 1.8rem);
    }
}