@import '../../sass/index.scss';

.connection{
    //direction justify align gap
    @include flex(column, center, center, null);
    padding: 0 1rem;
    min-height: calc(100vh - 20rem);
    background-color: $color-primary;
    
    &_btn-guest{
        position: absolute;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: auto;
    }

    &_form{
        //direction justify align gap
        @include flex(column, center, center, 2rem);
        width: 50%;
        max-width: 500px;
        padding: 5rem;
        background-color: $color-secondary;
        color: $color-primary;
        @include tornCard;

        &_group{
            //direction justify align gap
            @include flex(column, null, null, 1rem);
            width: 100%;
            font-size: clamp(1.6rem, 2vw, 2rem);
            
            input{
                height: 5rem;
                padding-left: 1rem;
                background-color: $color-primary;
                font-size: clamp(1.6rem, 1.8vw, 1.8rem);
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
    
            &_btn{
                position: absolute;
                //direction justify align gap
                @include flex(row, center, center, null);
                top: 5rem;
                right: 1rem;
                color: $color-dark;
            }

        }
        span{
            font-size: clamp(1.6rem, 1.6vw, 1.8rem);
            color: $color-tertiary;
            font-family: 'Merriweather', serif;
        }
    
        &_btn_submit{
            height: 5rem;
            padding: 1rem;
            background-color: $color-dark;
            color: $color-primary;
            font-family: 'Merriweather', serif;
        }

        &_loader{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 2px solid rgba(0, 0, 0, 0);
            border-top: 2px solid $color-tertiary;
            border-bottom: 2px solid $color-tertiary;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    
        .password{
            position: relative;
        }
    }
}