@import '../../sass/index.scss';

.connection{
    //direction justify align gap
    @include flex(column, center, center, null);
    padding: 0 1rem;
    min-height: calc(100vh - 20rem);
    background-color: $color-primary;
    position: relative;

    &_modal{
        position: absolute;
        top: 2rem;
        background-color: #005800;
        color: $color-primary;
        padding: 1.5rem 2rem;
        font-family: 'Fjord One', serif;
        font-weight: 500;
        font-size: clamp(1.6rem, 2vw, 2rem);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
        animation: show 0.5s 0.5s forwards;

        @keyframes show {
            to {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    
    &_btn-guest{
        position: absolute;
        top: 5rem;
        font-family: 'Fjord One', serif;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: auto;
    }

    &_form{
        //direction justify align gap
        @include flex(column, center, center, 1.5rem);
        width: 50%;
        max-width: 550px;
        padding: 5rem;
        background-color: $color-secondary;
        color: $color-primary;
        @include tornCard;

        &_group{
            //direction justify align gap
            @include flex(column, null, null, 1rem);
            width: 100%;
            font-size: clamp(1.6rem, 2vw, 2rem);

            label{
                display: flex;
                justify-content: space-between;
            }
            
            input{
                height: 5rem;
                padding-left: 1rem;
                background-color: $color-primary;
                font-size: clamp(1.6rem, 1.8vw, 1.8rem);
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
    
            &_btn{
                position: absolute;
                //direction justify align gap
                @include flex(row, center, center, null);
                top: 5rem;
                right: 1rem;
                padding: 0;
                color: $color-dark;
            }

        }
        span{
            font-size: clamp(1.6rem, 1.6vw, 1.6rem);
            color: $color-tertiary;
            font-family: 'Merriweather', serif;
        }
    
        &_btn_submit{
            height: 5rem;
            background-color: $color-dark;
            color: $color-primary;
            font-family: 'Merriweather', serif;
        }

        &_loader{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 2px solid rgba(0, 0, 0, 0);
            border-top: 2px solid $color-tertiary;
            border-bottom: 2px solid $color-tertiary;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    
        .password{
            position: relative;
        }
    }
}