@import '../../sass/index.scss';

.connection{
    //direction justify align gap
    @include flex(column, center, center, 5rem);
    padding: 2rem 1rem;
    min-height: calc(100vh - 25rem);
    background-color: $color-primary;
    position: relative;

    @media screen and (max-width: 790px){
        padding: 1rem 1rem 2rem;
        min-height: calc(100vh - 20rem);
    }

    @media screen and (max-width: 500px){
        gap: 3rem;
    }

    h2{
        font-size: clamp(2rem, 2vw, 3rem);
        color: $color-primary;
    }

    &_modal{
        position: absolute;
        top: 2rem;
        background-color: #005800;
        color: $color-primary;
        padding: 1.5rem 2rem;
        font-family: 'Fjord One', serif;
        font-weight: 500;
        font-size: clamp(1.6rem, 2vw, 2rem);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
        animation: show 0.5s 0.5s forwards;

        @keyframes show {
            to {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    
    &_btn-guest{
        font-family: 'Fjord One', serif;
        font-weight: 600;
        border-bottom: 2px solid $color-dark;
        font-size: clamp(1.6rem, 1.8vw, 2rem);
    }

    &_form{
        //direction justify align gap
        @include flex(column, center, center, 1.5rem);
        width: 50%;
        max-width: 800px;
        padding: 5rem;
        background-color: $color-secondary;
        color: $color-primary;
        @include tornCard;

        @media screen and (max-width: 790px){
            width: 80%;
        }

        @media screen and (max-width: 500px){
            width: 100%;
            padding: 3rem 2rem;
        }

        &_group{
            //direction justify align gap
            @include flex(column, null, null, 1rem);
            width: 100%;
            font-size: clamp(1.6rem, 2vw, 2rem);

            label{
                display: flex;
                justify-content: space-between;
            }
            
            input{
                height: 5rem;
                padding-left: 1rem;
                background-color: $color-primary;
                font-size: clamp(1.6rem, 1.8vw, 1.8rem);
                border: 1px solid rgba(0, 0, 0, 0.2);

                @media screen and (max-width: 500px){
                    height: 4rem;
                }
            }
    
            &_btn{
                position: absolute;
                //direction justify align gap
                @include flex(row, center, center, null);
                top: 5rem;
                right: 1rem;
                color: $color-dark;

                @media screen and (max-width: 500px){
                    top: 4.5rem;
                }
            }

        }
        span{
            font-size: clamp(1.6rem, 1.6vw, 1.8rem);
            color: $color-tertiary;
            text-align: center;
        }
    
        &_btn_submit{
            @include btn;
        }

        &_loader{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 2px solid rgba(0, 0, 0, 0);
            border-top: 2px solid $color-tertiary;
            border-bottom: 2px solid $color-tertiary;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    
        .password{
            position: relative;
        }
    }

    p{
        text-align: center;
        font-weight: 600;

        @media screen and (max-width: 500px){
            display: flex;
            flex-direction: column;
        }

        a{
            @include link-hover;
        }
    }
}