@import '../../sass/index.scss';

.author {
    //direction justify align gap
    @include flex(row, flex-end, null, null);
    font-size: clamp(1.4rem, 1.6vw, 1.6rem);

    p {
        display: flex;

        span {
            @include flex(row, null, null, 1rem);
            font-style: italic;
        }
    }
}