.author {
  display: flex;
  justify-content: flex-end;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);

  p {
      display: flex;

      span {
          display: flex;
          gap: 1rem;
          font-style: italic;
      }
  }
}