.like {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
            display: flex;
            align-items: center;

            svg {
                font-size: clamp(2.5rem, 2.5vw, 2.5rem);
            }
        }

        p {
            font-size: clamp(2rem, 2vw, 2.5rem);
        }
    }

}