@import "../../sass/index.scss";

.home {
    background-color: $color-primary;
    padding: 2rem;
    //direction justify align gap
    @include flex(row, center, null, 4rem);
    flex-wrap: wrap;

    @media screen and (max-width: 790px) {
        padding: 2rem 1rem;
    }

    &_error {
        font-size: clamp(2rem, 2vw, 3rem);
        color: $color-secondary;
    }
}