@import "../../sass/index.scss";

.home{
    background-color: $color-primary;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (max-width: 790px) {
        padding: 0rem 1rem 2rem;
    }

    &_error{
        font-size: clamp(2rem, 2vw, 3rem);
        color: $color-secondary;
    }
}