@import '../../sass/index.scss';

.header {
    //direction justify align gap
    @include flex(column, null, center, null);
    text-align: center;
    padding: 1rem 0;

    @media screen and (max-width: 790px) {
        padding: 1rem 0 0;
    }

    h1 {
        width: 100%;

        figure {
            img {
                width: clamp(20rem, 25vw, 32rem);
            }

            figcaption {
                font-size: clamp(2rem, 2.5vw, 3rem);
                color: $color-primary;
                background-color: $color-dark;
                padding: 1rem 2rem;
            }
        }
    }
}