.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    img{
        height: 100%;
    }
}