@import "../../sass/index.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    font-weight: 600;

    @media screen and (max-width: 790px) {
        padding: 0 1rem;
    }

    @media screen and (max-width: 500px) {
        justify-content: unset;
    }

    ul {
        display: flex;
        gap: 3rem;

        @media screen and (max-width: 500px) {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }

        li {
            button,
            a,
            span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 600;
                font-family: "Fjord One", serif;
                font-size: clamp(1.6rem, 1.6vw, 2rem);

                svg {
                    font-size: inherit;
                }
            }
        }
    }
}
