@import "../../sass/index.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;

    @media screen and (max-width: 790px) {
        padding: 1rem;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 3rem;

        li {

            button,
            a,
            span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 600;
                font-family: "Fjord One", serif;
                font-size: clamp(1.8rem, 1.8vw, 2rem);
                @include link-hover;

                svg {
                    font-size: inherit;
                }
            }

            span {
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }
    }
}