@import "../../sass/index.scss";

.navbar {
    //direction justify align gap
    @include flex(row, space-between, null, null);
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 2rem;

    @media screen and (max-width: 790px) {
        padding: 0 1rem;
    }

    ul {
        @include flex(row, null, center, 3rem);

        li {

            button,
            a,
            span {
                @include flex(row, null, center, .5rem);
                font-weight: 600;
                font-size: clamp(1.8rem, 1.8vw, 2rem);
                @include link-hover;

                svg {
                    font-size: clamp(2.2rem, 1.8vw, 2.5rem);
                }
            }

            span {
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }
    }
}