*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    max-width: 1800px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, label, span{
    font-family: 'Fjord One', serif;
}

p, span{
    font-size: clamp(1.6rem, 1.6vw, 1.8rem);
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Merriweather', serif;
    font-size: clamp(1.6rem, 1.6vw, 1.8rem);
}